.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.petro {
  background-color: #61dafb11;
  color: brown;
  font-size: 50px;
}
.bg-block {
  background: #282c34;
}
.content {
  text-align: center;
  color: azure;
}
.block-color {
 background-image: url('./pexels-eberhard-grossgasteiger-691668.jpg');
 background-size: cover;
  min-height: 500px;
}

.block-colorText{
  color: rgb(0, 0, 0);
  font-size: 33px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding: 75px;
  margin-top: 0;
  margin-bottom: 100px;
}
.colorChange {
  background-image: url('./pexels-irina-iriser-1366957.jpg');
  background-size: cover;
  min-height: 500px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.colorChangeText{
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding: 50px;
  margin-top: 0;
  margin-bottom: 100px;
}

.content-state {
  background-color: #87a1a811;
  color: rgb(114, 114, 114);
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
